$speed: 0.5s;
$break: -0.2s;
$t1: ($break + $speed);
$t2: (2 * $t1);

$t-to-page-book: $speed ease transform;
$t-to-page-book-text: $speed ease opacity;
$t-to-page-page-content: $speed ease opacity;
$t-to-page-bg: $speed $t1 ease transform;
$t-to-page-site-title: $speed $t1 ease opacity;
$t-to-page-floating: $speed ease opacity;
$t-to-page-footer: $speed ease transform;

$t-to-home-book: $speed $t2 ease transform;
$t-to-home-book-text: $speed $t2 ease opacity;
$t-to-home-page-content: $speed ease opacity, $speed ease transform;
$t-to-home-page-content: $speed ease opacity, $speed ease transform;
$t-to-home-bg: $speed $t1 ease transform;
$t-to-home-site-title: $speed $t1 ease opacity;
$t-to-home-floating: $speed ease opacity;
$t-to-home-read-link: $speed ease opacity;

$a-fade-in: fade-in $speed ease;
$a-fade-in-up: fade-in-up $speed ease;
$a-fade-in-up-footer: fade-in-up-footer $speed ease;
$a-fade-to-yellow: fade-to-yellow $speed ease;

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-up-footer {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-to-yellow {
  0% {
    color: $white;
  }

  100% {
    color: $yellow;
  }
}

.animating-to-faq-layout, .animating-to-author-layout, .animating-to-talk-layout {
  @extend %animating-to-page-layout;
}
