$speed: .5s;
$break: -.2s;
$t1: ($break + $speed);
$t2: (2 * $t1);

$t-to-page-book: $speed ease transform;
$t-to-page-book-text: $speed ease opacity;
$t-to-page-page-content: $speed ease opacity;
$t-to-page-bg: $speed $t1 ease transform;
$t-to-page-site-title: $speed $t1 ease opacity;

$t-to-home-book: $speed $t2 ease transform;
$t-to-home-book-text: $speed $t2 ease opacity;
$t-to-home-page-content: $speed ease opacity, $speed ease transform;
$t-to-home-bg: $speed $t1 ease transform;
$t-to-home-site-title: $speed $t1 ease opacity;

$a-fade-in: fade-in $speed ease;
$a-fade-in-up: fade-in-up $speed ease;

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
