html, body {
  background-color: $white;
  color: $gray;
  font-family: $sans;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 1.5;
  position: relative;
  width: 100%;

  ::selection {
    // hack to fix opacity in selection.
    background-color: rgba($yellow, .99);
    color: $black;
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
}
