.book {
  left: 0;
  padding-right: .625rem;
  position: absolute;
  top: 0;
  transform-origin: 0% 0%;
  width: 50%;
  z-index: 150;

  > .inner {
    background-color: $yellow;
    border-radius: 3px;
    box-shadow: 0 0 2.5rem rgba($black, .5);
    display: block;
    height: 100%;
    padding-bottom: ($book-aspect-ratio * 100%);
    position: relative;
    width: 100%;

    &:after {
      background-color: rgba($black, .1);
      content: ' ';
      display: block;
      height: 100%;
      left: 1.875rem;
      position: absolute;
      top: 0;
      transform: $t-to-page-book;
      transform-origin: 0 0;
      width: .5rem;
    }

  }
}

.text-content {
  color: $black;
  left: 50%;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: $t-to-page-book-text;

  .book-title {
    margin-bottom: 2.5rem;
  }
}

.site-title {
  color: $white;
  left: 5rem;
  line-height: 3rem;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: $t-to-page-site-title;
  vertical-align: middle;
  z-index: 150;
}

// Transitions from home

.home {
  .book {
    transition: $t-to-page-book;

    > .inner:after {
      transition: $t-to-page-book;
    }

  }

  .text-content {
    transition: $t-to-page-book-text;
  }

  .site-title {
    transition: $t-to-page-site-title;
  }
}

// Transitions from page

.page, .talks {
  .book {
    transition: $t-to-home-book;

    > .inner:after {
      transition: $t-to-home-book;
    }

  }

  .text-content {
    transition: $t-to-home-book-text;
  }

  .site-title {
    transition: $t-to-home-site-title;
  }
}

// Animating to page
.animating-to-talks-layout .home .book,
.animating-to-page-layout .home .book,
.talks .book,
.page .book {
  transform: scale(.087);

  > .inner:after {
    border-radius: 3px;
    transform: translateX(3.125rem) scaleX(2.8);
  }

  .text-content {
    opacity: 0;
  }
}

.animating-to-talks-layout .home .site-title,
.animating-to-page-layout .home .site-title,
.talks .site-title,
.page .site-title {
  opacity: 1;
}

// Animating to home
.animating-to-home-layout .talks .book,
.animating-to-home-layout .page .book {
  transform: scale(1);

  > .inner:after {
    transform: none;
  }

  .text-content {
    opacity: 1;
  }
}

.animating-to-home-layout .talks .site-title,
.animating-to-home-layout .page .site-title {
  opacity: 0;
}

@media screen and (max-width: $phone-landscape-max) {
  .home {
    .book {
      width: 60%;
      margin: 0 auto;
      position: relative;
      top: auto;
      padding-top: 6.75rem;
      padding-right: 0;
      z-index: 1;
    }

    .text-content {
      .book-title {
        margin-bottom: 1.66666666rem
      }
    }

    .site-title {
      display: none;
    }
  }
  .page, .talks {
    .book {
      position: relative;
      left: auto;
      transform: none;
      margin: 0;
      padding: 0;
      width: 1.5rem;
      display: inline-block;

      > .inner {
        width: 1.5rem;
        padding-bottom: ($book-aspect-ratio * 1.5rem);
        border-radius: 1px;

        &:after {
          transform: none;
          left: 4px;
          width: 1px;
        }
      }
    }

    .site-title {
      display: inline-block;
      position: relative;
      top: auto;
      left: auto;
      line-height: 2rem;
      vertical-align: top;
      margin-left: 1rem;
    }
  }
}
