@mixin button-color($color) {
  color: $color;

  svg g {
    stroke: $color;
  }
}

.button {
  @extend %h4;
  display: block;
  transition: .2s ease color;

  &.yellow {
    @include button-color($yellow);

    &:hover {
      @include button-color($white);
    }
  }

  &.blue {
    @include button-color($blue);

    &:hover {
      @include button-color($gray);
    }
  }

  svg {
    display: inline-block;
    height: .875rem;
    line-height: 1rem;
    width: .875rem;
  }

  &.right svg {
    margin-left: 1rem;
  }

  &.left svg {
    margin-right: 1rem;
    transform: rotate(180deg);
  }
}
