@mixin button-color($color) {
  color: $color;

  svg g {
    stroke: $color;
  }
}

.button {
  @extend %h4;
  display: block;

  &.yellow {
    @include button-color($yellow);

  }

  &.blue {
    @include button-color($blue);
  }


  svg {
    display: inline-block;
    height: 0.875rem;
    line-height: 1rem;
    transition: 0.2s ease transform;
    width: 0.875rem;
  }

  &.right {
    svg {
      margin-left: 1rem;
    }

    &:hover svg {
      transform: translateX(4px);
    }
  }

  &.left {
    svg {
      margin-right: 1rem;
      transform: rotate(180deg);
    }

    &:hover svg {
      transform: rotate(180deg) translateX(4px);
    }
  }
}
