footer {
  animation: $a-fade-in-up-footer;
  background-color: rgba($black, 0.25);
  padding: 2.5rem 0;
  position: absolute;
  transition: $t-to-page-footer;
  width: 100%;
  z-index: 10;

  p {
    color: rgba($black, 0.25);
    line-height: 2;
    margin: 0;
  }

  .right {
    float: right;
    padding: 1rem 5rem 1rem 0;

    img {
      display: block;
      height: 2rem;
    }
  }
}

%animating-to-page-layout footer {
  transform: translateY(100%);
}

@media screen and (max-width: $tablet-landscape-max) {
  .main.talks + footer {
    background-color: rgba($black, 0.25);
  }

  footer {
    background-color: $light-gray;
    box-sizing: border-box;
    padding: 2.5rem 1.5rem;

    .right {
      padding-right: 0;
    }
  }
}
