$book-width: 28.75rem;
$book-aspect-ratio: 1.263157895;

.main.home {

  .page-content {
    box-sizing: border-box;
    color: $white;
    margin-left: 50%;
    padding: 6rem 5rem 0 5.625rem;
    position: relative;
    width: 50%;

    nav {
      margin-bottom: 7rem;
    }

    p {
      animation: $a-fade-in;
      transition: $t-to-page-page-content;
    }
  }

  .button {
    margin-top: 5rem;
  }

  .lead {
    @extend %h3;
  }
}

.animating-to-talks-layout .page-content p,
.animating-to-page-layout .page-content p {
  opacity: 0;
}

@media screen and (max-width: $phone-landscape-max) {
  .main.home {
    .page-content {
      color: $gray;
      background-color: $white;
      width: 100%;
      margin-left: 0;
      padding: 3rem 1.5rem;

      .button {
        margin-top: 0.75rem;
      }
    }

    .button {
      margin: 0;
    }

    .begin-reading {
      text-align: center;
      margin: 3rem 0;

      .button {
        display: inline-block;
      }
    }
  }
}
