$content-width: 58.75rem;
$padding-top: 6rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  position: relative;
  width: 90%;
}

.main {
  padding: $padding-top 0 5rem;
  position: relative;
  z-index: 2;
}

.colored-background {
  background-color: $blue;
  height: 150%;
  position: fixed;
  width: 100%;
  z-index: 1;

  &.home, &.talks {
    transition: $t-to-page-bg;
  }

  &.page {
    position: absolute;
    transition: $t-to-home-bg;
  }
}

.animating-to-talks-layout .colored-background.page,
.animating-to-home-layout .colored-background.page,
.colored-background.talks,
.colored-background.home {
  transform: none;
}

.animating-to-page-layout .colored-background.home,
.animating-to-page-layout .colored-background.talks,
.colored-background.page {
  transform: translatey(-100%) translateY($padding-top + 18.125rem);
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .main {
    padding: 0;
  }

  .colored-background {
    transition: none;
  }
}
