$m-link-padding: 1rem;

nav {
  @extend %h5;
  box-sizing: border-box;
  color: $white;
  height: 3.125rem;
  line-height: 1.5rem;
  width: 100%;

  ul {
    margin-left: 50%;
    padding: 0.8125rem 0 0.6875rem 5.625rem;

    li {
      display: inline-block;
      float: left;
      margin-right: 2.5rem;
    }
  }

  li a {
    transition: $speed ease color;

    &:active, &:hover {
      color: $yellow;
    }
  }

  // Highlight links
  @each $page in author, talks, faq, home {
    &.active-#{$page} .#{$page}-link {
      color: $yellow;
    }
  }

  .read-link {
    transition: $t-to-home-read-link;
  }

  &.active-home .read-link {
    opacity: 0;
  }
}

%animating-to-page-layout, .animating-to-talks-layout, .animating-to-home-layout {
  // Highlight links
  @each $page in author, talks, faq, home {
    nav.active-#{$page} .#{$page}-link {
      color: $white;
    }
  }
}

.animating-to-author-layout .author-link,
.animating-to-talk-layout .talks-link,
.animating-to-faq-layout .faq-link,
.animating-to-talks-layout .talks-link {
  color: $yellow;
}

%animating-to-page-layout {
  .active-home .read-link {
    opacity: 1;
  }
}

.animating-to-home-layout .read-link {
  opacity: 0;
}

$bar-width: 20px;
$bar-height: 2px;
$bar-spacing: 4px;
$ham-height: (3 * $bar-height + 2 * $bar-spacing);

.hamburger {
  display: none;
  float: right;
  height: $ham-height;
  margin-top: 0.5rem;
  position: relative;
  width: $bar-width;
  z-index: 150;

  .bar {
    background-color: $white;
    height: $bar-height;
    position: absolute;
    transition: $speed ease transform, $speed ease opacity;
    width: $bar-width;
  }

  .bar-1 {
    top: 0;
  }

  .bar-2 {
    top: ($bar-height + $bar-spacing);
  }

  .bar-3 {
    top: (2 * ($bar-height + $bar-spacing));
  }
}

.open .hamburger {
  .bar-1 {
    top: 0;
    transform: translateY($ham-height /2 - 1px) rotate(45deg);
  }

  .bar-2 {
    opacity: 0;
  }

  .bar-3 {
    top: (2 * ($bar-height + $bar-spacing));
    transform: translateY(-$ham-height / 2 + 1px) rotate(-45deg);
  }
}

@media screen and (max-width: $tablet-landscape-max) {
  nav ul {
    padding-top: 0.5rem;

    li {
      margin-right: 1.5rem;
    }
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .active-home {
    height: auto;
    margin: 0;
    text-align: center;

    ul {
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 3rem;
      width: 100%;
      z-index: 5;
    }

    li {
      float: none;
      margin-right: $m-link-padding;

      &:first-child {
        margin-left: (2 * $m-link-padding);
      }
    }

    .read-link {
      display: none;
    }
  }

  nav:not(.active-home) {
    ul {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  nav:not(.active-home) {
    background-color: $blue;
    box-sizing: border-box;
    height: 6rem;
    padding: 2rem 1.5rem;
    position: relative;
    z-index: 150;

    ul {
      background-color: $blue;
      bottom: 0;
      left: 0;
      margin: 0;
      padding: 8rem 0 0;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateY(-150%);
      transition: $speed ease transform;
      z-index: 100;

      li {
        display: block;
        float: none;
        font-size: 2.5rem;
        height: 3.75rem;
        letter-spacing: 2.2px;
        margin: 0 0 2rem;
        text-align: center;
        width: 100%;
      }
    }

    &.open ul {
      transform: none;
    }

    .hamburger {
      display: inline-block;
    }
  }
}

.nav-open {
  overflow: hidden;
}
