$yt-aspect-ratio: .5625;

.main.page {

  .page-content {
    padding: 6.875rem 5rem 0 15rem;
    position: relative;

    p {
      animation: $a-fade-in-up;
      margin-bottom: 2rem;
      transition: $t-to-home-page-content;
    }

    h2 {
      animation: $a-fade-in;
      color: $white;
      margin-bottom: 6.25rem;
      margin-top: 2.5rem;
      transition: $t-to-home-page-content;
    }

    > .links {
      display: none;
    }
  }
}

.floating {
  animation: $a-fade-in;
  float: left;
  margin-left: -15rem;
  max-width: 100%;
  padding: 0 6.25rem 5.625rem 0;
  position: relative;
  transition: $t-to-home-floating;
  width: 28.75rem;

  i {
    background-image: url('/img/albert-wenger.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 .625rem rgba($black, .5);
    display: block;
    height: 16.25rem;
    width: 100%;
  }

  .video {
    background-color: $black;
    padding-bottom: (100% * $yt-aspect-ratio);
    position: relative;
    width: 100%;

    iframe {
      box-shadow: 0 0 .625rem rgba($black, .5);
      height: 100%;
      left: 0;
      position: absolute;
      right: 10px;
      top: 0;
      width: 100%;
    }
  }

  > .links {
    display: block;
    position: absolute;
    transform: translateY(100%);

    li {
      margin-bottom: 1.25rem;
    }
  }
}

.animating-to-page-layout,
.animating-to-talks-layout,
.animating-to-home-layout {
  .main.page {
    .page-content p {
      opacity: 0;
      transform: translateY(3rem);
    }

    .floating, .page-content h2 {
      opacity: 0;
    }
  }
}

@media screen and (max-width: $tablet-portrait-max) {
  .main.page .page-content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
    background-color: $white;

    h2 {
      color: $black;
      margin: 1.5rem 0;
    }

    > .links {
      display: block;
      position: relative;
      transform: none;
      padding-bottom: 3.5rem;

      li {
        margin: 0;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .floating {
    padding: 0;
    margin: 0;
    float: none;
    width: auto;

    .featured {
      position: relative;

      &:before {
        background-color: $blue;
        content: ' ';
        display: block;
        height: 55%;
        left: -1.5rem;
        position: absolute;
        top: -5%;
        right: -1.5rem;
        z-index: 1;
      }
    }

    > .links {
      display: none;
    }

    i, .video {
      width: 100%;
      height: auto;
      padding-bottom: (100% * $yt-aspect-ratio);
      position: relative;
      z-index: 2;
    }
  }
}
