$yt-aspect-ratio: .5625;

.colored-background.page {
  position: absolute;
}

.main.page {

  .page-content {
    padding: 6.875rem 5rem 0 15rem;
    position: relative;

    p {
      margin-bottom: 2rem;
      animation: $a-fade-in-up;
      transition: $t-to-home-page-content;
    }

    h2 {
      color: $white;
      margin-bottom: 6.25rem;
      margin-top: 2.5rem;
      animation: $a-fade-in;
      transition: $t-to-home-page-content;
    }
  }

  .floating {
    float: left;
    width: 28.75rem;
    padding: 0 6.25rem 5.625rem 0;
    margin-left: -15rem;
    animation: $a-fade-in-up;
    transition: $t-to-home-page-content;
    position: relative;

    i {
      background-image: url('/img/albert-wenger.jpg');
      background-size: cover;
      background-position: center center;
      box-shadow: 0 0 .625rem rgba($black, .5);
      display: block;
      height: 16.25rem;
      width: 100%;
    }

    .video {
      background-color: $black;
      padding-bottom: (100% * $yt-aspect-ratio);
      width: 100%;
      position: relative;

      iframe {
        box-shadow: 0 0 .625rem rgba($black, .5);
        height: 100%;
        left: 0;
        position: absolute;
        right: 10px;
        top: 0;
        width: 100%;
      }
    }

    .links {
      position: absolute;
      display: block;
      transform: translateY(100%);

      li {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.animating-to-page-layout,
.animating-to-talks-layout,
.animating-to-home-layout {
  .main.page {
    .floating, .page-content p {
      transform: translateY(3rem);
      opacity: 0;
    }
    .page-content h2 {
      opacity: 0;
    }
  }
}
