$yt-aspect-ratio: .5625;

.main.talks {
  .page-content {
    padding-top: 7rem;
  }
}

.talk {
  animation: $a-fade-in-up;
  color: $white;
  margin-bottom: 5rem;
  padding-bottom: (50% * $yt-aspect-ratio);
  position: relative;
  transition: $t-to-home-page-content;

  .video {
    background-color: $black;
    left: 0;
    padding-bottom: (50% * $yt-aspect-ratio);
    position: absolute;
    width: 50%;

    iframe {
      box-shadow: 0 0 .625rem rgba($black, .5);
      height: 100%;
      left: 0;
      position: absolute;
      right: 10px;
      top: 0;
      width: 100%;
    }
  }

  .text {
    left: 50%;
    padding: 0 5rem 0 5.625rem;
    position: absolute;
    top: 0;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  .button {
    margin-top: 1.25rem;
  }
}

.animating-to-home-layout .talk,
.animating-to-page-layout .talk {
  opacity: 0;
  transform: translateY(3rem);
}

@media screen and (max-width: $phone-landscape-max) {
  .main.talks .page-content {
    box-sizing: border-box;
    padding: 0 1.5rem;
    width: 100%;
  }

  .talk {
    padding: 0;
    margin-bottom: 3rem;

    h2 {
      margin: 1.5rem 0;
    }

    .video {
      display: block;
      position: relative;
      width: 100%;
      padding-bottom: (100% * $yt-aspect-ratio);
    }

    .text {
      position: relative;
      left: auto;
      padding: 0;
    }

    .button {
      margin-top: 1.5rem;
    }
  }
}
