{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background talks"></div>
<div class="main talks">
    <div class="content">
        {{> navbar book-link="/" active-class="talks" }}
        <div class="page-content">
            <ul class="talk-list">
                <li class="talk">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/t8qo7pzH_NM" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2><a href="/talks/a-big-idea-a-bot-idea">A big idea, a bot idea</a></h2>
                        <p>Many of our current economic policies originated during times of scarcity. But now, says investor Albert Wenger, we…</p>
                        <p><a class="button yellow right" href="/talks/a-big-idea-a-bot-idea">More {{> arrow-right.svg }}</a></p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/UlQU2wF8zb0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2><a href="/talks/world-in-transition">World in transition</a></h2>
                        <p>Like the rise of agriculture and the industrial revolution, the digital transformation now underway will leave…</p>
                        <p><a class="button yellow right" href="/talks/world-in-transition">More {{> arrow-right.svg }}</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/talks.js"></script>
{{/content}}
{{/extend}}
