{{#extend "base"}}
{{#content "title" mode="append"}} - Talks{{/content}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background talks"></div>
<div class="main talks">
    <div class="content">
        {{> navbar book-link="/" active-class="talks" }}
        <div class="page-content">
            <ul class="talk-list">
                <li class="talk">
                    <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JGzjXu5pqAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2>Attention and AI</h2>
                        <p>Using AI to free up attention is a key theme from World After Capital. Presented at the 2019 Rise of AI conference in Berlin.</p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FWebSummitHQ%2Fvideos%2F1202418866490822%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="text">
                        <h2>Age of Knowledge</h2>
                        <p>An overview of the book delivered at Web Summit 2016 in Lisbon.</p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                        <iframe src="https://youtube.com/embed/6PkCBGS94kc" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2>Attention Scarcity</h2>
                        <p>An overview of the book delivered at <a href="http://creativegood.com/gel/">GEL 2016</a>.</p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/Vk4YbfVUT0o" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2>Future of Work</h2>
                        <p>Answering 10 questions by Dominik Wichmann at DLD 2016 about the future of work.</p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/t8qo7pzH_NM" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2><a href="/talks/a-big-idea-a-bot-idea">A Big Idea, a Bot Idea</a></h2>
                        <p>Many of our current economic policies originated during times of scarcity. But now, says investor Albert Wenger, we…</p>
                        <p><a class="button yellow right" href="/talks/a-big-idea-a-bot-idea">More {{> arrow-right.svg }}</a></p>
                    </div>
                </li>
                <li class="talk">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/UlQU2wF8zb0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="text">
                        <h2><a href="/talks/world-in-transition">World in Transition</a></h2>
                        <p>Like the rise of agriculture and the industrial revolution, the digital transformation now underway will leave…</p>
                        <p><a class="button yellow right" href="/talks/world-in-transition">More {{> arrow-right.svg }}</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{{> footer }}
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/talks.js"></script>
{{/content}}
{{/extend}}
