{{#extend "content-page" active-class="author"}}
{{#content "title" mode="append" }} - Author{{/content}}
{{#content "page-title" }}Albert Wenger{{/content}}

{{#content "navbar" }}
{{> navbar active-class="author" book-link="/" }}
{{/content }}

{{#content "floating"}}<i style="background-image: url('/img/albert-wenger.jpg');"></i>{{/content}}

{{#content "links"}}
<li><a class="button right blue" href="http://continuations.com/">Personal Website {{> arrow-right.svg }}</a></li>
<li><a class="button right blue" href="https://twitter.com/albertwenger">Twitter {{> arrow-right.svg }}</a></li>
{{/content}}

{{#content "content" mode="prepend"}}
<p>Albert Wenger is a managing partner at <a href="http://usv.com">Union Square Ventures</a> (USV), a New York-based thesis-driven venture capital firm investing in in networks, infrastructure for the new economy, and enablers of open, decentralized data. His wife Susan Danziger co-founded and runs <a href="http://ziggeo.com">Ziggeo</a>. Together, they have three wonderful children.</p>
<p>Before joining USV, Albert was the President of <a href="https://delicious.com">del.icio.us</a> from founding through the company’s sale to Yahoo. Albert graduated summa cum laude from Harvard College in economics and computer science and holds a Ph.D. in Information Technology from MIT.</p>
{{/content}}
{{/extend}}
