{{#extend "base"}}
{{#content "title" }}Page Not Found{{/content}}

{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background home"></div>
<div class="error-content">
    <h1>404</h1>
    <p>This page doesn't exist.</p>
    <a href="/" class="button yellow right">Back Home {{> arrow-right.svg }}</a>
</div>
{{/content}}
{{/extend}}
