{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background home"></div>
<div class="main home">
    <div class="content">
        {{> book url="#" }}
        <div class="page-content">
            {{> navbar }}
            <p><span class="lead">Humans have dreamed </span> of a world of plenty in which nobody needs to work. Imagine you didn’t have to work at a job to support yourself. What would you do with your time? How would your life be different? World After Capital is an open e-book that explores this idea – a small contribution to our distinctly human endeavor, the pursuit of knowledge.
            </p>
            <p><a class="button yellow down" href="#">Begin Reading</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
{{/content}}
{{/extend}}
