{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background home"></div>
<div class="main home">
    <div class="content">
        {{> navbar book-link="{{ gitbook_url }}" active-class="home" }}
        <div class="begin-reading tablet-only"><a class="button yellow right" href="{{ gitbook_url }}">Begin Reading {{> arrow-right.svg }}</a></div>
        <div class="page-content">
            <p><span class="lead">Humans have dreamed </span> of a world of plenty in which nobody needs to work. Imagine you didn’t have to work at a job to support yourself. What would you do with your time? How would your life be different? World After Capital is an open e-book that explores this idea – a small contribution to our distinctly human endeavor, the pursuit of knowledge.
            </p>
            <p class="hide-tablet"><a class="button yellow right" href="{{ gitbook_url }}">Begin Reading {{> arrow-right.svg }}</a></p>
            <p class="tablet-only"><a class="button blue right" href="{{ gitbook_url }}">Open in Gitbook {{> arrow-right.svg }}</a></p>
        </div>
    </div>
</div>
{{> footer }}
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
{{/content}}
{{/extend}}
