{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background home"></div>
<div class="main home">
    <div class="content">
        {{> navbar book-link=meta.gitbook_url active-class="home" }}
        <div class="begin-reading tablet-only"><a class="button yellow right" href="{{ meta.gitbook_url }}">Begin Reading {{> arrow-right.svg }}</a></div>
        <div class="page-content">
            <p><span class="lead">Technological progress has shifted scarcity for humanity.</span> When we were foragers, food was scarce. During the agrarian age, it was land. Following the industrial revolution, capital became scarce. With digital technologies scarcity is shifting once more. We need to figure out how to live in a World After Capital in which the only scarcity is our attention.
            </p>
            <p class="hide-tablet"><a class="button yellow right" href="{{ meta.gitbook_url }}">Begin Reading {{> arrow-right.svg }}</a></p>
            <p class="tablet-only"><a class="button blue right" href="{{ meta.gitbook_url }}">Open in Gitbook {{> arrow-right.svg }}</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
{{/content}}
{{/extend}}
