<a href="{{ book-link }}" class="{{ book-class }}">
    <div class="book" id="book">
        <div class="inner">
            <div class="text-content">
                <h1 class="book-title">
                    World After Capital
                </h1>
                <h2 class="author">Albert Wenger</h2>
            </div>
        </div>
    </div>
</a>
<h3 class="site-title">
    <a href="{{ book-link }}" class="{{ book-class }}">World After Capital</a>
</h3>
