{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div id="bg" class="colored-background page"></div>
<div class="main page">
    <div class="content">
        {{#block "navbar"}}{{/block}}
        <div class="page-content">
            {{#if hideFloating }}
            {{else}}
            <div class="floating">
                <div class="featured">
                    {{#block "floating"}}{{/block}}
                </div>
            </div>
            {{/if}}
            <h2 id="page-title">{{#block "page-title"}}{{/block}}</h2>
            <article>
            {{#block "content"}}{{/block}}
            </article>
            <ul class="links">
                {{#block "links"}}{{/block}}
            </ul>
        </div>
    </div>
</div>
{{> footer }}
<script type="text/javascript" src="/js/pageanimation.js"></script>
<script type="text/javascript" src="/js/page.js"></script>
{{/content}}
{{/extend}}
