<footer>
    <div class="content">
        <div class="right">
            <img src="/img/logo-creativecommons.svg">
        </div>
        <p>World After Capital</p>
        <p>Albert Wenger 2015</p>
    </div>
</footer>
