<footer>
    <div class="content">
        <div class="right">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img src="/img/logo-creativecommons.svg">
            </a>
        </div>
        <p>World After Capital</p>
        <p>Albert Wenger 2021</p>
    </div>
</footer>
