<nav>
    <ul>
        <li>
            <a class="animate" href="/author">Author</a>
        </li>
        <li>
            <a class="animate" href="#">Ideas</a>
        </li>
        <li>
            <a class="animate" href="#">Talks</a>
        </li>
        <li>
            <a class="animate" href="#">FAQ</a>
        </li>
    </ul>
</nav>
