{{#extend "content-page" active-class="faq" hideFloating="yes"}}
{{#content "title" mode="append" }} - FAQ{{/content}}
{{#content "page-title" }}Frequently Asked Questions{{/content}}

{{#content "navbar" }}
{{> navbar active-class="faq" book-link="/" }}
{{/content }}

{{#content "links"}}{{/content}}

{{#content "content" mode="prepend"}}
<h4>Is this book free?</h4>
<p>In keeping with many of the ideas in the book, there will always be a free version of the 
book available on the web.</p>
<h4>How is the content licensed?</h4>
<p>The content of this web site and the book itself are available under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution - Non Commercial - Share Alike</a></p>
<h4>How far along is this book?</h4>
<p>It is a work in progress. The current version is a draft and incomplete at that (because I a rewriting sections from an earlier version). I am using <a href="https://www.gitbook.com/@worldaftercapital">gitbook</a> and <a href="https://github.com/WorldAfterCapital">github</a> to keep track of versions of this website and the book itself.</p> 
<h4>Why is the writing voice inconsistent?</h4>
<p>Because I wrote different parts at different times. And because some sections had more third party editing than others. Part of the work going forward is to unify the voice across the book.</p>
<h4>Who has contributed to this book?</h4>
<p>I have to work on a more formal acknowledgment section. Until then I want to call out <a href="http://providenceword.com">Seth Schulmann</a> who helped me wrangle my thoughts into some coherence, <a href="https://twitter.com/tedcooke">Ed Cooke</a> who provided extensive feedback on an earlier version, and to commenters on <a href="http://continuations.com">my blog</a> who have been super helpful over the years. Many thanks also to my partners and the team at <a href="http://usv.com>Union Square Ventures</a> who have contributed greatly to my thinking on many of the topics. And of course none of this would have been possible without <a href="https://twitter.com/susandanziger">Susan</a> and our kids putting up with my work on this at the oddest hours and challenging my ideas at every turn.</p>
<h4>What contributions are you looking for?</h4>
<p>I am always looking for feedback and all constructive comments are welcome. Links to statistics that either support or question assertions made are especially helpful. There are lots of places in the book which still require a source and/or have placeholders for statistics.</p>
<h4>Why are you writing this book?</h4>
<p>My goal is to contribute to a critical dialog around the future. We need to invest much more time and effort into pro-actively choosing how to best use all the technological advances we are currently making.</p>
{{/content}}
{{/extend}}
