{{#extend "content-page" active-class="faq"}}
{{#content "title" mode="append" }} - FAQ{{/content}}
{{#content "page-title" }}FAQ{{/content}}

{{#content "navbar" }}
{{> navbar active-class="faq" book-link="/" }}
{{/content }}

{{#content "floating"}}<i style="background-image: url('/img/typing.jpg');"></i>{{/content}}

{{#content "links"}}{{/content}}

{{#content "content" mode="prepend"}}
<h4>Is this book free?</h4>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
<h4>Is this book free?</h4>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
<h4>Is this book free?</h4>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
<p>Pour-over health goth gluten-free master cleanse, art party yr photo booth green juice. Normcore asymmetrical pour-over wolf chicharrones. Mustache lumbersexual blue bottle knausgaard, intelligentsia cold-pressed asymmetrical kinfolk meggings synth kickstarter ramps umami PBR&amp;B marfa.</p>
{{/content}}
{{/extend}}
