{{#extend "content-page" active-class="faq" hideFloating="yes"}}
{{#content "title" mode="append" }} - FAQ{{/content}}
{{#content "page-title" }}Frequently Asked Questions{{/content}}

{{#content "navbar" }}
{{> navbar active-class="faq" book-link="/" }}
{{/content }}

{{#content "links"}}{{/content}}

{{#content "content" mode="prepend"}}
<h4>Is this book free?</h4>
<p>In keeping with many of the ideas in the book, there will always be a free version of the 
book available on the web.</p>
<h4>How is the content licensed?</h4>
<p>The content of this web site and the book itself are available under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution - Non Commercial - Share Alike</a></p>
<h4>How far along is this book?</h4>
<p>It is a work in progress. The current version is getting pretty close to final. At present the references are broken and need to be fixed. I am using <a href="https://www.gitbook.com/@worldaftercapital">gitbook</a> and <a href="https://github.com/WorldAfterCapital">github</a> to keep track of versions of this website and the book itself.</p> 
<h4>Who has contributed to this book?</h4>
<p>Please read the <a href="https://worldaftercapital.gitbook.io/worldaftercapital/acks">acknowledgments</a>.</p> 
<h4>What kind of feedback and contributions are you looking for?</h4>
<p>All constructive comments are welcome. At this point the book is close to final, so I am less likely to make substantial changes. I hope to write at least one more book and may be able to address new ideas there.</p> 
<h4>Why are you writing this book?</h4>
<p>This question is now answered by the <a href="https://worldaftercapital.gitbook.io/worldaftercapital/preface">preface</a>.</p>
<h4>Is the book available for download?</h4>
<p>Yes. You can <a href="https://worldaftercapital.gitbook.io/worldaftercapital/">download World After Capital as a PDF</a> (sadly ePub and Mobi are no longer directly supported by Gitbook and you need to <a href="https://pdfepub.com/">manually convert from PDF</a>).</p>
{{/content}}
{{/extend}}
